{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
    {% if not registrationForm.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(registrationForm) }}
            {% for children in registrationForm.children %}
                {% if not children.vars.valid %}
                    {{ form_errors(children) }}
                {% endif %}
                {% for child in children %}
                    {% if not child.vars.valid %}
                        {{ form_errors(child) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="mb-3">
        {{ form_label(registrationForm.email, 'Email *', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe *', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe *', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.firstName, 'Prénom *', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.lastName, 'Nom *', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
    </div>

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
