{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>
    <div class="card-container">
        {% for subscription in subscriptions %}
            <div class="card">
                <h2>{{ subscription.title }}</h2>
                <p>{{ subscription.description }}</p>
                <p>{{ subscription.price }} €</p>
                <p>{{ subscription.pdfLimit }} pdf par jour</p>
                <a class="btn btn-primary {% if app.user.subscription.id == subscription.id %} disabled{% endif %}" href="{{ path('switch_subscription', {'id' : subscription.id}) }}">Souscrire</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}